{% extends 'base.html' %}

{% block 'title' %} - @{{ user.username }}{% endblock %}
{% block 'content' %}

<div class='content'>
    <h2>Result for
        <a href='http://twitter.com/{{ user.username }}'>
            @{{ user.username }}</a>
    </h2>

    {% if sorted_dict %}

        <ul class='user_data'>
            {% if from_db %}
                {% if not user_page %}
                    <li>Sorry, we're not updating your data. Your last update is
                        less than 1 hour ago.</li>
                {% endif %}
            <li>Last check: (GMT+7) {{ last_check }}</li>
            {% endif %}
            <li>Start: {{ start_time }}</li>
            <li>End: {{ end_time }}</li>
            <li>Total tweets: {{ total }}</li>
        </ul>
  
        {% comment %} 
        {% if not from_db %} 
        <p class='stat_meta'>
            From latest <em>{{ total }}</em> tweets in your timeline,
            these are your most chatty friends.
        </p>
        {% endif %}
        {% endcomment %}

        <ul class='stat_data'>
            {% for item in sorted_dict %}
            <li><a href='http://twitter.com/{{ item.user }}'>{{ item.user }}</a> 
                &mdash; {{ item.count }} tweets</a></li>
            {% endfor %}
        </ul>
        <div class='tweet_button'>
            <a href="http://twitter.com/share" class="twitter-share-button" 
            data-count="none">Tweet</a><script type="text/javascript" 
            src="http://platform.twitter.com/widgets.js"></script>
        </div>

    {% else %}

        <p class='stat_data'>Sorry, no data available.</p>

    {% endif %}
</div>

{% endblock %}
